.input {
    border-radius: 5px;
    outline: none;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    border: 1px solid #d9d9d9;
    user-select: none;
    padding-left: 10px;
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-family: inherit;

    &:hover {
        border-color: #c1a300;
    }

    &::placeholder {
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
    }
}

.invalid {
    border: 1px solid red;

    &:hover {
        border: 1px solid red !important;
    }

    &:disabled {
        border: 1px solid red;
    }
}
