.title {
    font-size: 22px;
    font-size: 600;
}

.yellow {
    color: #C1A300;
}

.list {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.no {
    font-weight: 600;
    font-size: 16px;
}