.header {
    background-color: #040400;
    height: 70px;
    color: #fff;
}


.inner-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    user-select: none;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    // margin-left: 15px;
}

.nav {
    // margin-left: 24rem;
}